
body {
    background-color: #ede0d4
}

.title {
  font-family: "Malgun Gothic";
  TEXT-ALIGN: CENTER;
  FONT-SIZE: 50px;
  COLOR: #582f0e;
}

.sign2 {
  font-family: "Courier";
  TEXT-ALIGN: CENTER;
  FONT-SIZE: 22px;
  COLOR: #582f0e;
}

.sign3 {
  font-family: "Courier";
  TEXT-ALIGN: LEFT;
  FONT-SIZE: 22px;
  COLOR: #582f0e;
}

.text{
  font-family: "Times New Roman";
  TEXT-ALIGN: LEFT;
  FONT-SIZE: 18px;
  COLOR: #a98467;
}

.forms {
  input[type=text] {
  background-color: #f8f9fa;
  border: 2px solid #582f0e;
  border-radius: 8px;
  width: 30%;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
  }
  input[type=submit] {
    background-color: #f8f9fa;
    border: 2px solid #582f0e;
    border-radius: 8px;
    width: 10%;
    padding: 10px;
    margin: 18px 0;
    box-sizing: border-box;
    cursor: pointer;
  }
}

.forms2 {
  input[type=text] {
  background-color: #f8f9fa;
  border: 2px solid #582f0e;
  border-radius: 8px;
  width: 70%;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
  }
}

.error{
  font-family: "Times New Roman";
  TEXT-ALIGN: LEFT;
  FONT-SIZE: 20px;
  COLOR: red;
}

.buttons{
  background-color: #f8f9fa;
  border: 2px solid #582f0e;
  border-radius: 8px;
  width: 10%;
  padding: 10px;
  margin: 0px 0;
  box-sizing: border-box;
  cursor: pointer;
}
