<!DOCTYPE html>

<!-- 
     MWE (Maya Berchin, Ashley Li, Evan Khosh, Robert Chen)
		 p00
     Softdev
		 10/21/25--11/10/25
     time spent: many hours over the course of three weeks 
-->

<html>

  <head>
    <link rel="stylesheet"
          type="text/css"
          href={{url}}>
    <title>Profile</title>
    <title> MWE--Edit Profile </title>
  </head>

  <body>

    <div class="title">Hey there, {{username}}!</div>
    <h1>
    <div class="sign3">Edit your profile! :)</div>
  </h1>

		<button class="buttons" onclick= "document.location='/profile'">Profile</button>
    <br>

    <div class"error">
		{{ error }}
    </div>

		<br><br>

		<div class="sign3">Change username:</div>
    <div class="forms">
		    <form action="/editpf" method="POST">
            <input type="text" value="{{ username }}" name="username">
            <br><input type="submit" name="username_form">
        </form>
      </div>

        <br>

		<div class="sign3">Change password:</div>
    <div class="forms">
		    <form action="/editpf" method="POST">
            <input type="text" placeholder="old password" name="old_pass">
            <br><input type="text" placeholder="new password" name="new_pass">
            <br><input type="submit" name="password_form">
          </form>
    </div>

        <br>

		<div class="sign3">Change Bio:</div>
    <div class="forms2">
      <form action="/editpf" method="POST">
            <input type="text" value="{{ bio }}" name="bio">
            <br><input type="submit" name="bio_form">
        </form>
    </div>

    <div class="forms">
        <form>
            <input type="submit" formmethod="post" name="logout" value="Logout">
        </form>
      </div>

  </body>

</html>
