<!DOCTYPE html>

<!-- MWE (Maya Berchin, Ashley Li, Evan Khosh, Robert Chen)
		 p00
		 Softdev
     -->

<html>

  <head>
    <link rel="stylesheet"
          type="text/css"
          href={{url}}>
    <title> MWE--Edit Entry </title>

  </head>

  <body>
	<h1> Blog: {{ blog_name }} </h1>

    <form action="/editntry/{{ entry_id }}", method="POST">
      <input type="text" value="{{ entry_name }}" name="entry_name">
      <input type="text" value="{{ entry_contents }}" name="entry_contents">
      <input type="submit" name="sub1">
    </form>

  </body>
</html>
