<!DOCTYPE html>

<!-- MWE (Maya Berchin, Ashley Li, Evan Khosh, Robert Chen)
		 p00
		 Softdev
     -->

<html>

  <head>
    <title> MWE--Home </title>
  </head>

  <body>

		Hey there, {{ username }}! Welcome to your homepage!
		
		<br>
		<button onclick= "document.location='/profile'">Profile</button>

		<form>
      <input type="submit" formmethod="post" name="logout" value="Logout">
    </form>
		
		<h1> Blogs </h1>

    {% for blog in blogs %}
			<p> {{ blog[1] }} by {{ blog[2] }} </p>
			<form action="/viewblog" method="POST">
				<input type="submit" name="{{ blog[0] }}" value="View Blog">
			</form>
    {% endfor %}

  </body>

</html>
