<!DOCTYPE html>

<!-- MWE (Maya Berchin, Ashley Li, Evan Khosh, Robert Chen)
		 p00
		 Softdev
     -->

<html>

  <head>
    <title> MWE--Login </title>
  </head>

  <body>
		
		<h1>
      MWE
    </h1>
    <p>
        By: Maya Berchin, Ashley Li, Evan Khosh, Robert Chen
    </p>
		
		<h3>
      Enter your username and password below to proceed.
    </h3>
    <form action="/" method="POST">
      <input type="text" placeholder="username" name="username">
      <input type="text" placeholder="password" name="password">
      <input type="submit" name="submit">
    </form>
    
    {{ error }}
    
    <br>
    
		<p> Don't have an account yet? </p>
    <a href="/register">Register</a>
		
  </body>

</html>
