<!DOCTYPE html>

<!-- MWE (Maya Berchin, Ashley Li, Evan Khosh, Robert Chen)
		 p00
		 Softdev
     -->

<html>

  <head>
    <link rel="stylesheet"
          type="text/css"
          href={{url}}>
    <title> MWE--Login </title>
  </head>

  <body>


      <div class="title">THE MWE BLOG SITE</div>

    <p>
      <div class="sign2">By: Maya Berchin, Ashley Li, Evan Khosh, Robert Chen</div>
    </p>

		<h3>
      <div class="sign3">Please log in to proceed.</div>
    </h3>

    <div class="forms">
      <form action="/" method="POST">
        <input type="text" placeholder="username" name="username">
        <br>  <input type="text" placeholder="password" name="password">
        <br>  <input type="submit" name="submit">
      </form>
    </div>
    {{ error }}

    <h3>
    <div class="reg-sign">Don't have an account yet?</div>
    </h3>

    <button class="buttons" onclick= "document.location='/register'">Register</button>

  </body>

</html>
