<!DOCTYPE html>

<!-- MWE (Maya Berchin, Ashley Li, Evan Khosh, Robert Chen)
		 p00
		 Softdev
     -->

<html>

  <head>
    <link rel="stylesheet"
          type="text/css"
          href={{url}}>
    <title> MWE--Login </title>
  </head>

  <body>

      <div class="title-sign">THE MWE BLOG SITE</div>

		<h3>
      <div class="instruction-sign">Please log in to proceed.</div>
    </h3>
    <div class="user_pass">
      <form action="/" method="POST">
        <input type="text" placeholder="username" name="username">
        <br>  <input type="text" placeholder="password" name="password">
        <br>  <input type="submit" name="submit">
      </form>
    </div>
    {{ error }}

    <h3>
    <div class="reg-sign">Don't have an account yet?</div>
    </h3>

    <button class="reg-butt" onclick= "document.location='/register'">Register</button>

  </body>

</html>
