<!DOCTYPE html>

<html>
	<head>
		<title>Profile</title>
	</head>
	
	<body>
	
		<button onclick= "document.location='/'">Home</button>
		<button onclick= "document.location='/newblog'">New Blog</button>
		<button onclick= "document.location='/editpf'">Edit Profile</button>
		<form>
					<input type="submit" formmethod="post" name="logout" value="Logout">
		</form>
		<br>
		<h1>
			Welcome {{ username }}!!!
		</h1>
		<p> About me: </p>
		{{ bio }}
		<br>
		<h2>
			Blogs Created:
		</h2>
			{% for blog in blogs %}
			<p> {{ blog[1] }} by {{ blog[2] }} </p>
			<form action="/viewblog" method="POST">
				<input type="submit" name="{{ blog[0] }}" value="View Blog">
			</form>
    {% endfor %}
		
	</body>

</html>