<!DOCTYPE html>

<!-- MWE (Maya Berchin, Ashley Li, Evan Khosh, Robert Chen)
		 p00
		 Softdev
     -->

<html>

  <head>
    <link rel="stylesheet"
          type="text/css"
          href={{url}}>
    <title> MWE--Register </title>
  </head>

  <body>
	<div class="title-sign">WELCOME TO THE MWE BLOG SITE!</div>
    <h1>
      MWE
    </h1>
    <p>
        By: Maya Berchin, Ashley Li, Evan Khosh, Robert Chen
    </p>


    <h3>
      Please enter a unique username and a password.
    </h3>

    <form action="/register", method="POST">
      <input type="text" placeholder="username" name="username">
      <input type="text" placeholder="password" name="password">
      <input type="submit" name="sub1">
    </form>

		<br>

    {{ error }}

		<p> Already have an account? </p>
		<button onclick= "document.location='/'">Log In</button>

  </body>

</html>
