<html>

  <head>
    <link rel="stylesheet"
          type="text/css"
          href={{url}}>
    <title> REGISTER PAGE </title>
  </head>

  <body>
    <body>
      <div class="title-sign">WELCOME TO THE MWE BLOG SITE!</div>
    </body>
    <h2>
        Team Member Names
    </h2>


    <h3>
      Enter your username and password below to proceed.
    </h3>
    <div class="user_pass">
      <form action="/register", method="POST">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" name="sub1">
      </form>
    </div>

    <br>

    {{ error }}

  </body>

</html>
