<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet"
          type="text/css"
          href={{url}}>
    <title> View Blog </title>
  </head>

  <body>
  
        <button onclick= "document.location='/'">Home</button>
        <button onclick= "document.location='/profile'">Profile</button>
        <button onclick= "document.location='/newblog'">Create Blogs</button>
  
      <h1>  {{ blog_name }} by {{ blog_author }} </h1>

        {% for entry_id in entry_ids %}

            <h3> {{ entry_names[loop.index0] }} </h3>

            <p> {{ entry_contents[loop.index0] }} </p>

            {% if username == blog_author %}

                <form>
                    <input type="submit" formmethod="post" name="{{ entry_id }}" value="Edit Entry">
                </form>

            {% endif %}

        {% endfor %}

        <br>
        
        {% if username == blog_author %}

                <form>
                    <input type="submit" formmethod="post" name="add_entry" value="Add Entry">
                </form>

        {% endif %}
        
        <br>

        <form>
            <input type="submit" formmethod="post" name="logout" value="Logout">
        </form>

  </body>

</html>